@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #eaa023;
    --main-color: #eaa023;
    --dark: #0c1023;
    --dark-light: #191f3a;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    scroll-behavior: smooth;
    --cursive-font: "Dancing Script", cursive;
  }
  .section-min-heght {
    background-color: red;
    min-height: calc(100vh - 88px);
  }
}
